.news-ticker {
  width: 100%;
  box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.05);
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
}

.news-ticker p {
  margin: 0;
  width: auto;
  padding-left: 100%;
  display: inline-block;
  animation: tickerTape 60s linear infinite;
}

@keyframes tickerTape {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}